* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 67px;
  background-color: black;
  color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(250, 249, 249, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page {
  background-color: #fff;
  width: 100%;
  height: 90px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin-top: 15px;
}

.ranksMovies {
  width: 375px;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 117px;
}

img {
  width: 129px;
  height: 193px;
}

.Movie {
  background-color: white;
  padding: 12px 7px;
  margin: 0px 5px 5px 5px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.times {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 117;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
}

button {
  width: 95px;
  height: 43px;
  background: purple;
  border-radius: 3px;
  border-style: none;
  margin: 10px 20px 20px 0px;
  color: white;
  font-size: 18px;
  line-height: 21px;
}

.selected {
  width: 100%;
  height: 117px;
  background: #dfe6ed;
  border: 1px solid #9eadba;
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 30px;
  color: #293845;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.selected .Movie {
  width: 64px;
  height: 89px;
  padding: 8px 7px;
  margin: 0px 20px;
}

.selected img {
  width: 50px;
  height: 72px;
}

.seats {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seat {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #c3cfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border: 1px solid #808f9d;
}

.seat p {
  margin-top: 55px;
}

.legend {
  width: 375px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.gray {
  background-color: #c3cfd9;
}

.green {
  background-color: #8dd7cf;
}

.yellow {
  background-color: #fbe192;
}

.infos {
  width: 375px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.infos h2 {
  font-size: 18px;
  line-height: 21px;
  color: #293845;
  display: block;
}

input {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  font-size: 18px;
  color: #293845;
  outline-color: #d5d5d5;
  height: 50px;
  width: 327px;
  border-radius: 3px;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 18px;
  color: #afafaf;
}

.reserve,
.backToHome {
  width: 225px;
  height: 42px;
  margin-top: 55px;
}

.final {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.final h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #247a6b;
  margin: 45px 0px;
}

.finalInformations h2 {
  font-weight: bold;
  margin: 10px 0px;
}

.finalInformations {
  width: 374px;
  height: 110px;
  font-size: 22px;
  line-height: 26px;
  margin-left: 45px;
}

.finalInformations .ticket {
  display: flex;
}

.ticket {
  display: flex;
  width: 140px;
  flex-wrap: wrap;
  height: 90px;
  flex-direction: column;
}

.ticket .choosedSeat {
  margin-right: 20px;
}
